<h1 class="mt-3">Pipes <small>Angular</small> </h1>
<hr>
<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th> Variable</th>
                    <th> Pipe</th>
                    <th> Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{capitan}} </td>
                    <td> variable | uppercase </td>
                    <td>{{capitan | uppercase}} </td>
                </tr>
                <tr>
                    <td>{{tony}} </td>
                    <td> variable | lowercase </td>
                    <td>{{ tony | lowercase}} </td>
                </tr>
                <tr>
                    <td>{{fernando}} </td>
                    <td> variable | slice:3 </td>
                    <td>{{ fernando | slice:3}} </td>
                </tr>
                <tr>
                    <td>{{fernando}} </td>
                    <td> variable | slice:0:3 </td>
                    <td>{{ fernando | slice:0:3}} </td>
                </tr>
                <tr>
                    <td>{{arreglo}} </td>
                    <td> variable | slice:1:5 </td>
                    <td>{{ arreglo | slice:1:5}} </td>
                </tr>
                <tr>
                    <td>{{PI}} </td>
                    <td> variable | number </td>
                    <td>{{ PI | number}} </td>
                </tr>

                <tr>
                    <td>{{PI}} </td>
                    <td> variable | number:'1.0-0' </td>
                    <td>{{ PI | number:'1.0-0'}} </td>
                </tr>

                <!-- 3 Posiciones enteras, si no hay, lo rellena de ceros -->
                <tr>
                    <td>{{PI}} </td>
                    <td> variable | number:'3.0-0' </td>
                    <td>{{ PI | number:'3.0-0'}} </td>
                </tr>
                <!-- Todos los enteros y solo dos decimales -->
                <tr>
                    <td>{{PI}} </td>
                    <td> variable | number:'0.0-2' </td>
                    <td>{{ PI | number:'0.0-2'}} </td>
                </tr>

            </tbody>
        </table>
    </div>

</div>
<h4> Slice</h4>
<ul>
    <li *ngFor="let item of arreglo | slice:5:20">{{item}}</li>
</ul>